* {
  padding: 0;
  margin: 0;
  
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  
  #ducky {
    width: 400px;
    height: 400px;
    /* background-image: url('ducky.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px auto;
  }
  
  #stats {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
  }

canvas {
  display: block;
  width: 400px;
  height: 400px;
    border: 1px solid black;
  }
  